<div class="block-container">
  <div class="tilter">
    <div class="tilter__inner">
     	<figure class="tilter__figure">
        <div class="tilter__image"></div>
     		<div class="tilter__deco tilter__deco--overlay"></div>
     		<figcaption class="tilter__caption">
     			<h1 class="tilter__title">Welcome to T-Mobile</h1>
     		</figcaption>
        <div class="tilter__deco tilter__about">
          <h4>We're excited to meet you.</h4>
        </div>
     	</figure>
    </div>
  </div>
</div>
